<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Preguntas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
      <ion-navbar>
          <ion-title>Login</ion-title>
        </ion-navbar>
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input [(ngModel)]="Email" type="email" name="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Contraseña</ion-label>
        <ion-input [(ngModel)]="Password" type="password" name="Password"></ion-input>
      </ion-item>
    </ion-list>

        <ion-list *ngIf="errorLogin != null" >
            <ion-label *ngFor="let item of errorLogin">
              {{item.Msg}}
            </ion-label>
        </ion-list>

        <button ion-button (click)="login()">Ingresar</button>
        <button ion-button (click)="register()">Registrar</button>
        <button ion-button (click)="mapa()">Mapa</button>
        <button ion-button (click)="tracking()">Tracking</button>
        <button ion-button (click)="camara()">camara</button>
</ion-grid>
</ion-content>
